* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @include breakpoints($mobileBig) {
        font-size: 58%;
    }
    @include breakpoints($mobileSmall) {
        font-size: 55%;
    }
}

img {
    width: 100%;
}

input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: #000;
}